<!DOCTYPE html>
<html>

<head>
    <title>404 Error!</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="" href="">
</head>

{{> navbar}}
<body>

    <h1>Error!</h1>
    <p>The action you requested could not be completed.</p>

</body>


</html>