<!DOCTYPE html>
<html>

<head>
    <title>404 Error!</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="" href="">
</head>


<body>
    {{> navbar}}

    <h1>Error!</h1>
    <h3>The action you requested could not be completed.</h3>

    {{> footer }}
</body>



</html>