<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="" href="">
</head>


<body>
    {{> navbar}}

    <h1>Check the PDF hosting page for a list of available PDF's</h1>

    {{> footer}}
</body>


</html>