<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
</head>


<body>

    <h1>Available PDF's</h1>

    <h3>The Bible</h3>
    <p></p>
    <h3>The Quran</h3>
    <p></p>
    <h3>Minecraft Coloring Page</h3>
    <p></p>

</body>


</html>