<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="" href="">
</head>

{{> navbar}}
<body>

    <h1>Available PDF's</h1>

</body>


</html>