<!DOCTYPE html>
<html>

<head>
    <title>PDF'S</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="" href="">
</head>

{{> navbar}}

<body>

    <h1>Available PDFs</h1>

    <ul>
    {{#each pdfs_list}}
        <li>
            <h3>{{metadata.title}}</h3>
            <p>{{metadata.description}}</p>
            <a href="/pdf/{{name}}">View PDF</a>
        </li>
    {{/each}}
    </ul>
</body>


</html>