<!DOCTYPE html>
<html>

<head>
    <title>PDF'S</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="" href="">
</head>

{{> navbar}}
<body>

    <h1>Available PDF's: List Below</h1>

    {{#if pdfs}}
        <ul class="pdf-list">
            {{#each pdfs}}
                <li class="pdf-item">
                    <h2>{{title}}</h2>
                    <p>{{description}}</p>

                    <a href="{{url}}" target="_blank">View / Download</a>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No PDF files found.</p>
    {{/if}}

</body>


</html>