<!DOCTYPE html>
<html>

<head>
    <title>PDF'S</title>
    <link rel="stylesheet" href="/css/main.css">
</head>


<body>
    {{> navbar}}

    <h1>Available PDFs</h1>

    <ul>
    {{#if pdfs_list}}
        {{#each pdfs_list}}
            <li>
                <h3>{{metadata.title}}</h3>
                <p>{{metadata.description}}</p>
                <a href="/pdf/{{name}}">View PDF</a>
            </li>
        {{/each}}
    {{else}}
        <p> No PDF documents are available at this time! </p>
    {{/if}}
    </ul>

    {{> footer}}
</body>



</html>